{% extends 'bases/base.html' %}
{% load static %}

{% block base %}
    <section class="editPage">
            <fieldset>
                <legend>Edit Password</legend>
                <div class="container">
                    <form method="post" action="{% url 'edit password' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                    <button class="edit-profile" type="submit">Edit Password</button>
                    </form>
                </div>
            </fieldset>
    </section>
{% endblock %}